body{
  background-color:#33333f;
  color: white;
  font-family: Audiowide;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 0, rgba(0, 0, 0, 0.3) 3px 3px 0, rgba(0, 0, 0, 0.2) 4px 4px 4px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
button{
  color: #33333f;
}
input{
  /*color: red;*/
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 0, rgba(0, 0, 0, 0.3) 3px 3px 0, rgba(0, 0, 0, 0.2) 4px 4px 4px;
  width: 1.5em;
  text-align: center;
  font-size: 2em;
  background-color: transparent;
  border: none;
}
.btn-text{
  font-size: 1.2em;
}
.session_break{
  padding-top: 16em;
  text-align: center;
}
.session_break > button{
  padding: 0px 6px;
}

div#animation_container{
  position:relative;
}
div#timer{
  padding-top: 8em;
  /*background-color: #30383E;*/
  border: 2px solid;
  display: inline-block;
  height: 25em;
  width: 25em;
  border-radius: 50%;
  left: 50%;
  top: 49.5%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position:absolute;
}
#minutes{
  font-size: 3em;
}
#seconds{
  font-size: 3em;
}
#mode{
  font-size: 3em;
}
.start_stop{
  font-size: 1.2em;
  margin-top: 1.2em;
}
svg{
  /*TODO three media quieries sm md this*/
  /*left: -6%;*/
  position:relative;
}
